/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require themes/ui-lightness/jquery-ui-1.10.4.custom
*= require_tree libs
*= require layout
*= require_self
*/

.spinner {
	background: url(spinner.gif) 100% 100% no-repeat transparent;
	height: 16px;
	width: 16px;
    position: absolute;
    left: 0;
    right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-indent: -9999px;
}

.distance-margin-top {
    margin-top: 1em;
}
.distance-margin-bottom {
    margin-bottom: 1em;
}
.distance-padding-top {
    padding-top: 1em;
}
.distance-padding-bottom {
    padding-bottom: 1em;
}

.text-center {
    text-align: center;
}

.display-none {
    display: none;
}

.header {
    background-color: #d78e59;
    color: #fff;
}
.container {
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
}
.left-side-menu {
    border-right: 1px solid #354444;
}
.left-side-menu .active {
    text-indent: 10px;
    background-color: #c8d3d3;
    font-weight: bolder;
}

.draggable-upload {
    height: 300px;
    border: 1px solid green;
    background-color: white;
    padding: 30px;
    outline: 2px dashed black;
    outline-offset: -10px;
    cursor: pointer;
    position: relative;
}
.dz-message {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dz-started .dz-message, .dz-success-mark, .dz-error-mark {
    display: none;
}

.ui-dialog.success .ui-dialog-titlebar {
    background-color: green;
    background-image: none;
}
.ui-dialog.error .ui-dialog-titlebar {
    background-color: red;
    background-image: none;
}